:root {
    --duration-fast: 0.2s;
    --duration-base: 0.4s;
    --duration-slow: 0.8s;
}

@media (prefers-reduced-motion: reduce) {

    :root {
        --duration-fast: 0.01ms;
        --duration-base: 0.01ms;
        --duration-slow: 0.01ms;
    }
    
}