:root {
  
  /* Primitivos */
  --mora-20: #20023A;
  --mora-40: #592A88;
  --mora-60: #8B48CF;
  --mora-80: #CFA9FF;
  --mora-95: #F2EBFD;
  --mora-98: #FAF7FF;
  
  --gris-20: #001634;
  --gris-40: #374A5D;
  --gris-60: #657383;
  --gris-80: #B7BFC7;
  --gris-95: #ECEFF2;
  --gris-98: #F8F8F9;
  --gris-100: #FFFFFF;

  --menta: #38F28F;
  --pitaya: #FF135C;
  --amarillo: #FFF54B;

}

@media (prefers-color-scheme: dark) {

  :root {
  
    /* Primitivos */
    --mora-20: #F2EBFD;
    --mora-40: #DDBBFF;
    --mora-60: #BC84FF;
    --mora-80: #68369C;
    --mora-95: #3D0D65;
    --mora-98: #29004E;
    
    --gris-20: #F6F9FC;
    --gris-40: #B4BFCA;
    --gris-60: #8291A1;
    --gris-80: #374A5D;
    --gris-95: #0A2036;
    --gris-98: #001730;
    --gris-100: #000A27;
  
    --menta: #38F28F;
    --pitaya: #FF135C;
    --amarillo: #FFF64D;
  
  }
  
}

:root {

  /* Tokens semánticos */
  --bg-surface-default: var(--gris-100);
  --bg-surface-card: var(--gris-98);
  --bg-surface-highlight-soft: var(--mora-98);
  --bg-surface-highlight-hard: var(--mora-95);
  
  --bg-button-primary-default: var(--mora-80);
  --bg-button-primary--hover: var(--mora-80);
  --bg-button-primary--pressed: var(--mora-60);

  --text-primary: var(--gris-20);
  --text-secondary: var(--gris-40);
  --text-highlight: var(--mora-40);
  
  --text-link-default: var(--mora-60);
  --text-link-hover: var(--mora-40);
  --text-link-pressed: var(--mora-40);
  
  --text-icon: var(--mora-40);
  
  --text-button-primary-default: var(--mora-20);
  --text-button-primary-hover: var(--mora-20);
  --text-button-primary-pressed: var(--mora-20);
  
  --text-button-secondary-default: var(--mora-60);
  --text-button-secondary-hover: var(--mora-40); 
  --text-button-secondary-pressed: var(--mora-40);

  --border-button-secondary-default: var(--mora-60); 
  --border-button-secondary-hover: var(--mora-40);
  --border-button-secondary-pressed: var(--mora-40);

  --border-divider: var(--gris-80);
  --border-tab: var(--gris-20);
  --border-image: var(--gris-95);
  --border-highlight: var(--mora-40);

}

/* ---Ilustraciones--- */
:root {

  /* Primitivos */
  --ink-mora-20: var(--mora-20);
  --ink-mora-40: var(--mora-40);
  --ink-mora-60: var(--mora-60);
  --ink-mora-80: var(--mora-80);
  --ink-mora-95: var(--mora-95);
  --ink-mora-98: var(--mora-98);
  
  --ink-gris-20: var(--gris-20);
  --ink-gris-40: var(--gris-40);
  --ink-gris-60: var(--gris-60);
  --ink-gris-80: var(--gris-80);
  --ink-gris-95: var(--gris-95);
  --ink-gris-98: var(--gris-98);
  --ink-gris-100: var(--gris-100);

  --ink-menta: var(--menta);
  --ink-pitaya: var(--pitaya);
  --ink-amarillo: var(--amarillo);

  /* Tokens semánticos */
  --ink-line-drawing: var(--gris-20);
  --ink-cloth-4: var(--gris-20);

}

@media (prefers-color-scheme: dark) {

  :root {

    /* Primitivos */
    --ink-mora-20: var(--mora-95);
    --ink-mora-40: var(--mora-80);
    --ink-mora-60: var(--mora-60);
    --ink-mora-80: var(--mora-40);
    --ink-mora-95: var(--mora-20);
    
    --ink-gris-20: var(--gris-95);
    --ink-gris-40: var(--gris-80);
    --ink-gris-60: var(--gris-60);
    --ink-gris-80: var(--gris-60);
    --ink-gris-95: var(--gris-40);
    --ink-gris-100: var(--gris-20);

    --ink-menta: var(--menta);
    --ink-pitaya: var(--pitaya);
    --ink-amarillo: var(--amarillo);

    /* Tokens semánticos */
    --ink-line-drawing: var(--gris-60);
    --ink-cloth-4: var(--gris-80);
  }

}