html {
  font-size: 100%;
}

:root {

  /* Font family */
  --font-family-headline: Readex Pro, sans-serif;
  --font-family-body: Readex Pro, sans-serif;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 380;
  --font-weight-medium: 470;
  --font-weight-semibold: 560;
  --font-weight-bold: 650;

  /* Text size */
  --font-size-2xl: 2.25rem; /* 36px*/
  --font-size-xl: 1.625rem; /* 26px*/
  --font-size-l: 1.1875rem; /* 19px*/
  --font-size-m: 1.0625rem; /* 17px*/
  --font-size-s: 0.875rem; /* 14px*/

  --line-height-2xl: 2.5rem; /* 40px*/
  --line-height-xl: 2rem; /* 32px*/
  --line-height-l: 2rem; /* 24px*/
  --line-height-m: 1.5rem; /* 24px*/
  --line-height-s: 1.5rem; /* 24px*/

}

/* Desde tamaño tablet a más */
@media (min-width: 810px) {

  :root {

     /* text size */
    --font-size-2xl: 3.25rem; /* 52px*/
    --font-size-xl: 1.875rem; /* 30px*/
    --font-size-l: 1.25rem; /* 20px*/
    --font-size-m: 1.125rem; /* 18px*/
    --font-size-s: 0.9375rem; /* 15px*/

    --line-height-2xl: 4rem; /* 64px*/
    --line-height-xl: 2.5rem; /* 40px*/
    --line-height-l: 2rem; /* 32px*/
    --line-height-m: 1.5rem; /* 24px*/
    --line-height-s: 1.5rem; /* 24px*/
    
  }
  
}

/* Solo tamaño desktop */
@media (min-width: 1200px) {
  :root {
    
    /* Text size */
    --font-size-2xl: 3.625rem; /* 56px*/
    --font-size-xl: 2rem; /* 32px*/
    --font-size-l: 1.3125rem; /* 21px*/
    --font-size-m: 1.125rem; /* 18px*/
    --font-size-s: 0.9375rem; /* 15px*/
    
  }
}